#contactUs{
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.9);
}

.personDetails{
    font: normal 20px 'Roboto', cursive;
    color: #ffee02;
    text-align: center;
}

.personImage{
    border-radius: 50%;
}