 #game {
    /* display: none; */
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    align-items: center;
    background-color: rgb(102, 102, 102);
    justify-content: space-evenly;
}

/* #gameBoard{
    min-height: 600px;
    min-width: 600px ;
} */

#gameDetails{
    display: flex;
    flex-direction: column;
    font: normal 22px 'Roboto', cursive;
    color: #ffffff;
    text-align: center;
    align-items: center;
}

#detailsCurrentGame{
    font: normal 30px 'Roboto', cursive;
    color: #ffee02;
    text-align: center;
    align-items: center;
}

