#login {
    height: 100%;
    width: 100%;
    display: none;
    text-align: center;
    align-content: center;
}

#loginForm {
    background-color: rgba(0, 0, 0, 0.7);
    width: 300px;
    border-radius: 6px;
    margin: 0 auto 0 auto;
    padding: 0px 0px 70px 0px;
    align-content: center;
}

#login-Title {
    font: normal 18px 'Roboto', cursive;
    color: #ffee02;
    text-align: center;
}

#username {
    background:#ecf0f1;
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    padding: 8px;
    width:250px;
    color:#AAAAAA;
    margin-top:10px;
    font-size:1em;
    border-radius:4px;
}

#password{
    border-radius:4px;
    background:#ecf0f1;
    border: #ccc 1px solid;
    padding: 8px;
    width:250px;
    font-size:1em;
}

#loginButons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.login-btn {
    font: normal 10px 'Roboto', cursive;
    cursor: pointer;
    padding: 10px 10px;
    margin-top: 15px;
    width: 30%;
    box-shadow: 0 2px rgb(247, 232, 168);
    border-radius: 15px;
    display: block;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: var(--light);
    width: 120px;
    height: 50px;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--text);
    background-size: 100% 100%;
    box-shadow: 0 0 0 7px var(--light) inset;
    margin-bottom: 15px;
}

.login-btn:hover{
    background-image: linear-gradient(
  145deg,
  transparent 10%,
  var(--dark) 10% 20%,
  transparent 20% 30%,
  var(--dark) 30% 40%,
  transparent 40% 50%,
  var(--dark) 50% 60%,
  transparent 60% 70%,
  var(--dark) 70% 80%,
  transparent 80% 90%,
  var(--dark) 90% 100%
);
animation: background 3s linear infinite;
}

