
#registerForm{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 20%;
    background-color: black;
}

#registerFormTitle{
    font: normal 18px 'Roboto', cursive;
    color: #ffee02;
    text-align: center;
}

#regiserInstruction{
    font: normal 12px 'Roboto', cursive;
    color: #ffee02;
    text-align: center;
}

#registerField{
    font: normal 14px 'Roboto', cursive;
    color: #ffffff;
}
.registerbtn:hover {
    opacity:1;
  }

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 12px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }

.registerbtn {
    background-color: #F0E68C;
    color: rgb(5, 5, 5);
    font: normal 18px 'Roboto', cursive;
    border: none;
    cursor: pointer;
    width: 13px;
  }

/* dateOfBirth */
[type="date"] {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
  }
  [type="date"]::-webkit-inner-spin-button {
    display: none;
  }
  [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
  
  /* custom styles */

  /* label {
    display: block;
  } */
  input {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    padding: 3px 5px;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
    width: 20%;
  }

  /* dateOfBirth-end */