html{
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background: linear-gradient(#b3ffab, #67fffc);
}

#content {
  display: flex;
  flex-direction: row;
}


#header{
    position: fixed;
    top: 0;
    width: 100%;
    background: rgb(49, 49, 49);
    box-shadow: 3.5px 6.1px 30px rgb(0 0 0 / 57%);
    min-height: 80px;
    left: 0;
    font-weight: 700;
    color: #ffffff;
    transition: all 0.2s;
    letter-spacing: 1px;
    font-family: 'Oswald',sans-serif;
    /* font-family:'Press Start 2P', cursive;  */
    /* font-size: 1.5rem; */
    line-height: inherit;
    transition: all 0.2s;
    letter-spacing: 1px;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    margin-left: 0;
    margin-right: 5%;
}


.header-game-name{
    font-size: 1.8rem;
    margin-left: 15%;
}

.our-names{
    font-size: 0.9rem;
}

.header-brand{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: flex-start;
}

.footer-container{
    font-weight: 700;
    color: #ffffff;
    transition: all 0.2s;
    letter-spacing: 1px;
    font-family: 'Oswald',sans-serif;
    /* font-family:'Press Start 2P', cursive;  */
    /* font-size: 1.5rem; */
    line-height: inherit;
    transition: all 0.2s;
    letter-spacing: 1px;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    margin-left: 0;
    margin-right: 5%;
}


/**************** Sidebar ****************/
/* The side navigation menu */
#sidebar {
    margin: 0;
    margin-top: 5px;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 90%;
    overflow: auto;
    /* margin-top: 10px; */
  }
  
  /* Sidebar links */
  #sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  /* Active/current link */
  #sidebar a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  /* Links on mouse-over */
  #sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  /* div#content {
    margin-left: 200px;
    margin-top: 80px;
    padding: 1px 16px;
    height: 800px;
  } */
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    #sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    #sidebar a {float: left;}
    div#content {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    #sidebar a {
      text-align: center;
      float: none;
    }
  }

  /************ Content Screens *************/

  #register {
      display: none;
  }

  #login {
    display: none;
}

#setting {
    display: none;
}

#about {
    display: none;
}

#game {
    display: none;
}


  /************* Footer **************/
  .footer{
      height: 15px;
      font: bold 16px sans-serif;
  }

  /* dana-footer */
  .footer-distributed{
    background: rgb(49, 49, 49);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    
    text-align: left;
    padding: 50px 60px 40px;
    overflow: hidden;
    margin-left: 15%;
  }
  
  /* Footer left */
  
  .footer-distributed .footer-left{
    float: left;
  }
  
  /* The company logo */

   .footer-distributed h3{
    color:  #ffffff;
    font: normal 36px 'Roboto', cursive;
    margin: 0 0 10px;
  } 


  /* Footer links */
  
  .footer-distributed .footer-links{
    color:  #ffffff;
    margin: 0 0 10px;
    padding: 0;
  }
  
  .footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
  }
  
  .footer-distributed .footer-company-name{
    color:  #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }

  /* Footer Right */
  
  .footer-distributed .footer-right{
    margin-left: 40%;
    padding-left: 16%;
  }
  
  .footer-distributed .footer-right p{
    display: inline-block;
    vertical-align: top;
    margin: 15px 15px 0 0;
    color: #ffffff;
    margin-bottom: 3%;
  }
  
  /* The contact form */
  
  .footer-distributed form{
    display: inline-block;
  }
  
  .footer-distributed form input,
  .footer-distributed form textarea{
    display: block;
    border-radius: 3px;
    box-sizing: border-box;
    background-color:  #1f2022;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
  
    font: inherit;
    font-size: 14px;
    font-weight: normal;
    color:  #d1d2d2;
  
    width: 400px;
    padding: 18px;
  }
  
  .footer-distributed ::-webkit-input-placeholder {
    color:  #5c666b;
  }
  
  .footer-distributed ::-moz-placeholder {
    color:  #5c666b;
    opacity: 1;
  }
  
  .footer-distributed :-ms-input-placeholder{
    color:  #5c666b;
  }
  
  
  .footer-distributed form input{
    height: 55px;
    margin-bottom: 15px;
  }
  
  .footer-distributed form textarea{
    height: 100px;
    margin-bottom: 20px;
  }
  
  .footer-distributed form button{
    border-radius: 3px;
    background-color:  #33383b;
    color: #ffffff;
    border: 0;
    padding: 15px 50px;
    font-weight: bold;
    float: right;
  }
  

  /* dana- footer */
